<% layout('layout.html') %>
<% it.title = '404 Not Found' %>
<% it.titlehero = it.title %>
<% it.breadcrumbs = [
    {
      name: 'Home',
      url: it.baseUrl
    },
    {
      name: it.title
    }
  ]
%>

  <section class="section is-main-section">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <img src="<%=it.baseAssetsUrl%>/assets/img/404.jpg">
          </div>
          <div class="column">
              <p class="title">404 - Not Found</p>
              <hr>
              <p>Sorry, we can not find the document you are looking for.<br>Maybe it was removed or deleted.</p>
              <br>
              <p>
                  <a class="button is-info" href="<%=it.baseUrl%>">Back to Home</a>
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!-- Footer -->
<%~ includeFile('partial-footer.html', it) %>
<!-- JS -->
<%~ includeFile('partial-js.html', it) %>
<script>
  getToken('<%=it.baseUrl%>', function(token) {
    if(token) getMenu('<%=it.baseUrl%>', token);
  });
</script>