<% layout('layout.html') %>
<% it.title = 'ABC' %>
<% it.titlehero = it.title %>
<% it.breadcrumbs = [
    {
      name: 'Home',
      url: it.baseUrl
    },
    {
      name: 'Example',
      url: it.baseUrl+'/example'
    },
    {
      name: it.title
    }
  ]
%>

<section class="section is-main-section">
  <!-- content here -->
</section>
<!-- Footer -->
<%~ includeFile('partial-footer.html', it) %>
<!-- JS -->
<%~ includeFile('partial-js.html', it) %>
<script>
  getToken('<%=it.baseUrl%>', function(token) {
    if(token) getMenu('<%=it.baseUrl%>', token);
  });
</script>