<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <%~ includeFile('partial-head-main.html', it) %>
  <title>Change Password - <%=it.siteName%></title>
  <%~ includeFile('partial-head-meta.html', it) %>
</head>
<body>
  <!-- Menu Navbar -->
  <%~ includeFile('partial-menu-navbar.html', it) %>
  <!-- Menu Aside -->
  <%~ includeFile('partial-menu-aside.html', it) %>
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li><a href="<%=it.baseUrl%>" class="has-text-dark">Home</a></li>
            <li>Change Password</li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
            <a href="https://admin-one-html.justboil.me/" target="_blank" class="button is-primary">
              <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
              <span>Premium Demo</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            Change Password
          </h1></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-main-section">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-account"></i></span>
              Change Password Form
            </p>
            <a id="reload" href="javascript:void(0)" class="card-header-icon">
              <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
          </header>
          <div id="msg"></div>
          <div class="card-content">
            <div class="field">
              <label class="label">Old Password</label>
              <div class="control">
                <input id="oldpassword" type="password" autocomplete="on" class="input" placeholder="Your old password..." required>
              </div>
              <p id="oldpassword-error" class="help has-text-left"></p>
            </div>
            <div class="field">
              <label class="label">New Password</label>
              <div class="control">
                <input id="newpassword" type="password" autocomplete="on" class="input" placeholder="Input new password..." required>
              </div>
              <p id="newpassword-error" class="help has-text-left"></p>
              <p id="newpassword-info" class="help has-text-left"></p>
            </div>
            <div class="field">
              <label class="label">Confirm Password</label>
              <div class="control">
                <input id="confirmpassword" type="password" autocomplete="on" class="input" placeholder="Repeat new password..." required>
              </div>
              <p id="confirmpassword-error" class="help has-text-left"></p>
              <p id="confirmpassword-info" class="help has-text-left"></p>
            </div>
            <hr>
            <div class="field is-grouped">
              <div class="control">
                <button id="btnSubmit" type="submit" class="button is-dark" onclick="submitChangePass()">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <%~ includeFile('partial-footer.html', it) %>
  <!-- Inline JS -->
  <%~ includeFile('partial-js.html', it) %>
  <script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/native-form-validation/formvalidation.min.js"></script>
  <script>
    var _token = '';
    
    getToken('<%=it.baseUrl%>', function(token) {
      if(!token) return location = '<%=it.baseUrl%>'+'/login';
      getMenu('<%=it.baseUrl%>', token);
      _token = token;
    });

    // form validation
    var form = new FormValidation();
    form.rules({
      oldpassword: {
        required: true,
        message: 'Password must be 6-20 chars!',
        minLength: 6,
        maxLength: 20,
        errorPlace:'oldpassword-error',
        errorAddClass: {
          oldpassword:'is-danger',
          'oldpassword-error': 'is-danger'
        }
      },
      newpassword: {
        required: true,
        message: 'Password must be 6-20 chars!',
        minLength: 6,
        maxLength: 20,
        errorPlace:'newpassword-error',
        errorAddClass: {
          newpassword:'is-danger',
          'newpassword-error': 'is-danger'
        }
      },
      confirmpassword: {
        required: true,
        message: 'Password must be 6-20 chars!',
        minLength: 6,
        maxLength: 20,
        errorPlace:'confirmpassword-error',
        errorAddClass: {
          confirmpassword:'is-danger',
          'confirmpassword-error': 'is-danger'
        }
      }
    });

    function checkMatch() {
      var div_pass = Dom.id('newpassword');
      var div_cpass = Dom.id('confirmpassword');
      var div_pass_i = Dom.id('newpassword-info');
      var div_cpass_i = Dom.id('confirmpassword-info');
      Dom.removeClass([div_pass,div_cpass,div_pass_i,div_cpass_i], 'is-success');
      Dom.removeClass([div_pass,div_cpass,div_pass_i,div_cpass_i], 'is-danger');
      if(div_pass.value.length > 0 && div_cpass.value.length > 0) {
        if(div_pass.value === div_cpass.value) {
          div_pass_i.innerHTML = 'Password match!';
          div_cpass_i.innerHTML = 'Password match!';
          Dom.addClass([div_pass,div_cpass,div_pass_i,div_cpass_i], 'is-success');
        } else {
          div_pass_i.innerHTML = 'Password not match!';
          div_cpass_i.innerHTML = 'Password not match!';
          Dom.addClass([div_pass,div_cpass,div_pass_i,div_cpass_i], 'is-danger');
        }
      } else {
        div_pass_i.innerHTML = '';
        div_cpass_i.innerHTML = '';
      }
    }

    Dom.id('oldpassword').addEventListener("blur", function() {
      form.element('oldpassword').validate();
    });
    Dom.id('newpassword').addEventListener("blur", function() {
      form.element('newpassword').validate();
      checkMatch();
    });
    Dom.id('confirmpassword').addEventListener("blur", function() {
      form.element('confirmpassword').validate();
      checkMatch();
    });

    function submitChangePass() {
      if(form.validate().isValid() && (Dom.id('newpassword').value === Dom.id('confirmpassword').value)) {
        Dom.id('msg').innerHTML = '';
        ajax({
          headers: {
            'x-token': _token,
            'content-type': 'application/json'
          }
        })
        .post('<%=it.baseUrl%>/api/user/change-password', {
          oldpassword: Dom.id('oldpassword').value,
          newpassword: Dom.id('newpassword').value
        })
        .then(function (response, xhr) {
          if (response.statusCode === 200 && response.success) {
            Dom.id('msg').innerHTML = `<article class="message is-success">
                <div class="message-body">
                  ${response.message}
                </div>
              </article>`;
            clear();
          } else {
            Dom.id('msg').innerHTML = `<article class="message is-danger">
                <div class="message-body">
                  ${response.message}
                </div>
              </article>`;
          }
        })
        .catch(function (response, xhr) {
          Dom.id('msg').innerHTML = `<article class="message is-danger">
              <div class="message-body">
                ${response.message}
              </div>
            </article>`;
          console.log(xhr.responseText);
        })
      }
    }

    function clear() {
      Dom.id('oldpassword').value = '';
      Dom.id('newpassword').value = '';
      Dom.id('confirmpassword').value = '';
      checkMatch();
    }

    Dom.id('reload').addEventListener('click', function(e) {
      clear();
      Dom.id('msg').innerHTML = '';
    })
  </script>
</body>
</html>
