<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <%~ includeFile('partial-head-main.html', it) %>
  <title>Change Password - <%=it.siteName%></title>
  <%~ includeFile('partial-head-meta.html', it) %>
</head>
<body>
  <!-- Menu Navbar -->
  <%~ includeFile('partial-menu-navbar.html', it) %>
  <!-- Menu Aside -->
  <%~ includeFile('partial-menu-aside.html', it) %>
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li><a href="<%=it.baseUrl%>" class="has-text-dark">Home</a></li>
            <li>Change Password</li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
            <a href="https://admin-one-html.justboil.me/" target="_blank" class="button is-primary">
              <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
              <span>Premium Demo</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            Change Password
          </h1></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-main-section">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-account"></i></span>
              Change Password Form
            </p>
            <a id="reload" href="javascript:void(0)" class="card-header-icon">
              <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
          </header>
          <div id="msg"></div>
          <div class="card-content">
            <div class="field">
              <label class="label">Old Password</label>
              <div class="control">
                <input id="oldpassword" type="password" autocomplete="on" class="input" placeholder="Your old password..." required>
              </div>
              <p id="oldpassword-error" class="help has-text-left"></p>
            </div>
            <div class="field">
              <label class="label">New Password</label>
              <div class="control">
                <input id="newpassword" type="password" autocomplete="on" class="input" placeholder="Input new password..." required>
              </div>
              <p id="newpassword-error" class="help has-text-left"></p>
            </div>
            <div class="field">
              <label class="label">Confirm Password</label>
              <div class="control">
                <input id="confirmpassword" type="password" autocomplete="on" class="input" placeholder="Repeat new password..." required>
              </div>
              <p id="confirmpassword-error" class="help has-text-left"></p>
            </div>
            <hr>
            <div class="field is-grouped">
              <div class="control">
                <button id="btnSubmit" type="submit" class="button is-dark" onclick="submitChangePass()">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <%~ includeFile('partial-footer.html', it) %>
  <!-- Inline JS -->
  <%~ includeFile('partial-js.html', it) %>
  <script>
    getToken('<%=it.baseUrl%>', function(token) {
      if(!token) return location = '<%=it.baseUrl%>'+'/login';
      getMenu('<%=it.baseUrl%>', token);
    });
  </script>
</body>
</html>
