<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <%~ includeFile('partial-head-main.html', it) %>
  <title>Login - <%=it.siteName%></title>
  <%~ includeFile('partial-head-meta.html', it) %>
</head>
<body>
  <!-- Menu Navbar -->
  <%~ includeFile('partial-menu-navbar.html', it) %>
  <!-- Menu Aside -->
  <%~ includeFile('partial-menu-aside.html', it) %>
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li><a href="<%=it.baseUrl%>" class="has-text-dark">Home</a></li>
            <li>Login</li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
            <a href="https://admin-one-html.justboil.me/" target="_blank" class="button is-primary">
              <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
              <span>Premium Demo</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            Login
          </h1></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-main-section">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-finance"></i></span>
              Login Form
            </p>
            <a href="#" class="card-header-icon">
              <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
          </header>
          <div class="card-content">
            <div class="field">
              <label class="label">E-mail Address</label>
              <div class="control">
                <input type="email" autocomplete="on" name="email" class="input" required autofocus>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input type="password" autocomplete="on" name="password" class="input" required>
              </div>
            </div>
            <div class="field">
              <label class="b-checkbox checkbox is-thin"><input type="checkbox" value="false">
                <span class="check is-black"></span>
                <span class="control-label">Remember me</span>
              </label>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-black">
                  Login
                </button>
              </div>
              <div class="control">
                <a href="password-recovery.html" class="button is-outlined is-black">
                  Forgot Password?
                </a>
              </div>
            </div>
            <hr>
            Don't have any account? <a href="<%=it.baseUrl%>/register">Sign up now!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <%~ includeFile('partial-footer.html', it) %>
  <!-- Inline JS -->
  <%~ includeFile('partial-js.html', it) %>
</body>
</html>
