<% layout('layout.html') %>
<% it.title = 'Menu' %>

  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li><a href="<%=it.baseUrl%>" class="has-text-dark">Home</a></li>
            <li><%=it.title%></li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
            <a href="https://admin-one-html.justboil.me/" target="_blank" class="button is-primary">
              <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
              <span>Premium Demo</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            <%=it.title%>
          </h1></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-main-section">
    <div class="card has-table has-mobile-sort-spaced">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-format-list-bulleted"></i></span>
          Menu List
          <span class="ml-5"><button class="button is-dark" onclick="openModal('new-modal')"><i class="mdi mdi-plus mr-2"></i>New</button></span>
        </p>
        <div class="card-header-icon field">
          <p class="control has-icons-right">
            <input id="search" type="text" class="input" placeholder="Search...">
            <span class="icon is-small is-right">
              <i class="mdi mdi-magnify"></i>
            </span>
          </p>
        </div>
      </header>
      <div class="card-content">
        <div id="datatable"></div>
      </div>
    </div>
  </section>

  <div id="new-modal" class="modal">
    <div class="modal-background jb-modal-close"></div>
    <div class="modal-card fix-modal">
      <header class="modal-card-head">
        <p class="modal-card-title"><i class="mdi mdi-plus mr-2"></i>Add New Parent Menu</p>
        <button class="delete jb-modal-close" aria-label="close"></button>
      </header>
      <div id="msg_new"></div>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input id="menu_name_new" class="input" type="text" placeholder="Menu name">
          </div>
          <p class="help has-text-left">Create name for your menu</p>
        </div>
        <div class="field">
          <label class="label">Type</label>
          <div class="control">
            <select id="menu_type_new" class="input">
              <option value="link">Link</option>
              <option value="colapse">Colapse</option>
            </select>
          </div>
          <p class="help has-text-left">There is only two type of menu, link or colapse, choose only one.</p>
        </div>
        <div class="field">
          <label class="label">Scope</label>
          <div class="control">
            <input id="menu_scope_new" class="input" type="text" placeholder="admin, member">
          </div>
          <p class="help has-text-left">Use commas to separate user scope.</p>
        </div>
        <div class="field">
          <label class="label">Url</label>
          <div class="control">
            <input id="menu_url_new" class="input" type="text" placeholder="Menu url">
          </div>
          <p class="help has-text-left">Doesn't need <%=it.baseUrl%>, Example: /dashboard.</p>
        </div>
        <div class="field">
          <label class="label">Position</label>
          <div class="control">
            <input id="menu_position_new" class="input" type="text" placeholder="Menu position">
          </div>
          <p class="help has-text-left">Set position order for your menu.</p>
        </div>
        <div class="field">
          <label class="label">Icon</label>
          <div class="control">
            <input id="menu_icon_new" class="input" type="text" placeholder="mdi mdi-desktop-mac">
          </div>
          <p class="help has-text-left">Set icon for your menu.</p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button onclick="submitNew()" class="button is-dark">Submit</button>
        <button class="button jb-modal-close">Cancel</button>
      </footer>
    </div>
    <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
  </div>

  <div id="parent-modal" class="modal">
    <div class="modal-background jb-modal-close"></div>
    <div class="modal-card fix-modal">
      <header class="modal-card-head">
        <p class="modal-card-title"><i class="mdi mdi-pencil-outline mr-2"></i>Edit Parent Menu</p>
        <button class="delete jb-modal-close" aria-label="close"></button>
      </header>
      <div id="msg_parent"></div>
      <section class="modal-card-body">
        <div class="field" hidden>
          <label class="label">ID</label>
          <div class="control">
            <input id="menu_id" class="input" type="text" placeholder="Normal input" readonly>
          </div>
        </div>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input id="menu_name" class="input" type="text" placeholder="Menu name">
          </div>
          <p class="help has-text-left">Create name for your menu</p>
        </div>
        <div class="field">
          <label class="label">Type</label>
          <div class="control">
            <select id="menu_type" class="input">
              <option value="link">Link</option>
              <option value="colapse">Colapse</option>
            </select>
          </div>
          <p class="help has-text-left">There is only two type of menu, link or colapse, choose only one.</p>
        </div>
        <div class="field">
          <label class="label">Scope</label>
          <div class="control">
            <input id="menu_scope" class="input" type="text" placeholder="admin, member">
          </div>
          <p class="help has-text-left">Use commas to separate user scope.</p>
        </div>
        <div class="field">
          <label class="label">Url</label>
          <div class="control">
            <input id="menu_url" class="input" type="text" placeholder="Menu url">
          </div>
          <p class="help has-text-left">Doesn't need <%=it.baseUrl%>, Example: /dashboard.</p>
        </div>
        <div class="field">
          <label class="label">Position</label>
          <div class="control">
            <input id="menu_position" class="input" type="text" placeholder="Menu position">
          </div>
          <p class="help has-text-left">Set position order for your menu.</p>
        </div>
        <div class="field">
          <label class="label">Icon</label>
          <div class="control">
            <input id="menu_icon" class="input" type="text" placeholder="mdi mdi-desktop-mac">
          </div>
          <p class="help has-text-left">Set icon for your menu.</p>
        </div>
        <div class="field">
          <label class="label">Status</label>
          <div class="control">
            <select id="menu_status" class="input">
              <option value="true">Activated</option>
              <option value="false">Disabled</option>
            </select>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button onclick="submitParent()" class="button is-dark">Submit</button>
        <button class="button jb-modal-close">Cancel</button>
      </footer>
    </div>
    <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
  </div>

  <div id="child-modal" class="modal">
    <div class="modal-background jb-modal-close"></div>
    <div class="modal-card fix-modal">
      <header class="modal-card-head">
        <p class="modal-card-title"><i class="mdi mdi-playlist-edit mr-2"></i>Edit Child Menu</p>
        <button class="delete jb-modal-close" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div id="msg_child"></div>
        <div class="field" hidden>
          <label class="label">ID</label>
          <div class="control">
            <input id="menu_id_child" class="input" type="text" placeholder="Menu ID">
          </div>
          <p class="help has-text-left">Create name for your menu</p>
        </div>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input id="menu_name_child" class="input" type="text" placeholder="Menu name">
          </div>
          <p class="help has-text-left">Create name for your menu</p>
        </div>
        <div class="field">
          <label class="label">Url</label>
          <div class="control">
            <input id="menu_url_child" class="input" type="text" placeholder="Menu url">
          </div>
          <p class="help has-text-left">Doesn't need <%=it.baseUrl%>, Example: /dashboard.</p>
        </div>
        <div class="field">
          <label class="label">Position</label>
          <div class="control">
            <input id="menu_position_child" class="input" type="text" placeholder="Menu position">
          </div>
          <p class="help has-text-left">Set position order for your menu.</p>
        </div>
        <button id="btnAddChild" onclick="addChild()" class="button is-dark">Add</button>
        <button id="btnCancelChild" onclick="cancelChild()" class="button" style="display: none;">Cancel</button>
        <hr>
        <div id="childtable"></div>
      </section>
      <footer class="modal-card-foot">
        <button onclick="saveChild()" class="button is-dark">Save</button>
        <button class="button jb-modal-close">Cancel</button>
      </footer>
    </div>
    <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
  </div>
  <!-- Footer -->
  <%~ includeFile('partial-footer.html', it) %>
  <!-- Inline JS -->
  <%~ includeFile('partial-js.html', it) %>
  <!-- Datatable Pagination and Search -->
  <script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/chunk-handler/chunkhandler.min.js"></script>
  <script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/fly-json-odm/flyjson.min.js"></script>
  <script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/moment-js/moment.min.js"></script>
  <script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/sweetalert/sweetalert.min.js"></script>
  <script>
    var datatable;
    var dt = [];
    getToken('<%=it.baseUrl%>', function(token) {
      // If have no token, redirect to login
      if(!token) return location = '<%=it.baseUrl%>'+'/login';
      
      getMenu('<%=it.baseUrl%>', token, function(err,valid) {
        // If user have no acces to this url menu link, redirect to dashboard
        if (!err && !valid) return location.href = '/dashboard';
      });
      
      loadData('<%=it.baseUrl%>',token, function(err,data) {
        if(!err) searchData('',1,10);
      });

      datatable = new Reef('#datatable', {
        data: {
          table : [],
          message: '',
          pageNow: 1,
          totalPage: 0,
          itemPerPage: 5
        },
        template: function(props) {
          if(props.table.length > 0) {
            return `<div class="b-table has-pagination">
              <div class="table-wrapper has-mobile-cards">
                <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
                  <thead>
                  <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Scope</th>
                    <th>Url</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Updated</th>
                  </tr>
                  </thead>
                  <tbody>
                  ${props.table.map(function(item, index) {
                    var num = (index+1);
                    return `<tr>
                      <td data-label="No">${num+((props.pageNow-1)*props.itemPerPage)}</td>
                      <td data-label="ID">${item.id}</td>
                      <td data-label="Name">${item.name}</td>
                      <td data-label="Type">${item.type}</td>
                      <td data-label="Scope">${item.scope}</td>
                      <td data-label="Url">${item.url}</td>
                      <td data-label="Position">${item.position}</td>
                      <td data-label="Status">${(item.status)? '<span class="tag is-success">Activated</span>':'<span class="tag is-danger">Disabled</span>'}</td>
                      <td data-label="Created">${moment(item.created_at).format('YYYY-MM-DD HH:mm:ss')}</td>
                      <td data-label="Updated">${(item.updated_at ? moment(item.updated_at).format('YYYY-MM-DD HH:mm:ss') : '')}</td>
                      <td class="is-actions-cell">
                        <div class="buttons is-right">
                          <button class="button is-small is-primary" type="button" title="Edit Parent Menu" onclick="openModal('parent-modal','${item.id}')">
                            <span class="icon"><i class="mdi mdi-pencil-outline"></i></span>
                          </button>
                          ${(item.type === 'colapse' ? `<button class="button is-small is-info" type="button" title="Edit Child Menu" onclick="openModal('child-modal','${item.id}')">
                            <span class="icon"><i class="mdi mdi-playlist-edit"></i></span>
                          </button>` : '')}
                          <button class="button is-small is-danger" type="button" title="Delete Menu" onclick="submitDelete('${item.id}')">
                            <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                          </button>
                        </div>
                      </td>
                    </tr>`;
                  }).join('')}
                  </tbody>
                </table>
              </div>
              <div class="notification">
                <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <div class="buttons has-addons">
                        <button type="button" class="button" onclick="prevPage()"><i class="mdi mdi-arrow-left mr-2"></i>Prev</button>
                        <button type="button" class="button" onclick="nextPage()">Next<i class="mdi mdi-arrow-right ml-2"></i></button>
                      </div>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <small>Page ${props.pageNow} of ${props.totalPage}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>`;
          } else {
            return `<article class="message is-danger">
                <div class="message-body">
                  ${(props.message) ? props.message : 'Something went wrong!'}
                </div>
              </article>`;
          }
        }
      });
      datatable.render();
    });

    function loadData(baseUrl,token,_cb) {
      if(dt.length === 0) {
        ajax({
          headers: {
            'x-token': token
          }
        })
        .get(baseUrl+'/api/menu/parent/list')
        .then(function(response, xhr) {
          if(response.statusCode === 200) {
            dt = response.data;
            if(_cb && typeof _cb === "function") {
                _cb(null,dt);
            }
          }
          return dt;
        })
        .catch(function(response, xhr) {
          dt = [];
          if(_cb && typeof _cb === "function") {
              _cb(xhr.responseText,null);
          } else {
              return dt;
          }
        })
      }
      return dt;
    }

    function searchData(value,pageNow,itemPerPage) {
      if(dt.length > 0) {
        var nosql = new FlyJson();
        var ch = new ChunkHandler();
        var result = nosql.set(dt)
        .begin()
        .where('id', 'like', value, false)
        .or()
        .where('name', 'like', value, false)
        .or()
        .where('type', 'like', value, false)
        .or()
        .where('scope', 'like', value, false)
        .end()
        .distinct()
        .orderBy('position')
        .exec();
        var retotalPage = ch.make(result,itemPerPage).length;
        var redata = nosql.set(result).paginate(pageNow,itemPerPage).exec();
        if (redata.length > 0) {
          datatable.data.table = redata;
          datatable.data.pageNow = pageNow;
          datatable.data.totalPage = retotalPage;
          datatable.data.itemPerPage = itemPerPage;
        } else {
          datatable.data.table = [];
          datatable.data.pageNow = 0;
          datatable.data.totalPage = 0;
          datatable.data.message = 'Records not found!';
        }
      } else {
        datatable.data.table = [];
        datatable.data.pageNow = 0;
        datatable.data.totalPage = 0;
        datatable.data.message = 'Records not found!';
      }
    }

    function nextPage() {
      if(datatable.data.pageNow < datatable.data.totalPage) {
        datatable.data.pageNow = datatable.data.pageNow + 1;
        searchData(Dom.id('search').value,datatable.data.pageNow,datatable.data.itemPerPage);
      }
    }

    function prevPage() {
      if(datatable.data.pageNow > 1) {
        datatable.data.pageNow = datatable.data.pageNow - 1;
        searchData(Dom.id('search').value,datatable.data.pageNow,datatable.data.itemPerPage);
      }
    }

    Dom.id('search').addEventListener('keyup', function(e) {
      if (e.keyCode === 13) {
        datatable.data.pageNow = 1;
        searchData(this.value, datatable.data.pageNow, datatable.data.itemPerPage);
      }
    })

    function openModal(el, id) {
      Dom.addClass(Dom.id(el),'is-active');
      Dom.addClass(Dom.id(el),'is-clipped');
      switch(true) {
        case (el === 'parent-modal') :
          Dom.id('msg_parent').innerHTML = '';
          var cdata = getData(id)[0];
          Dom.id('menu_id').value = id;
          Dom.id('menu_name').value = cdata.name;
          Dom.id('menu_type').value = cdata.type;
          Dom.id('menu_scope').value = cdata.scope;
          Dom.id('menu_url').value = cdata.url;
          Dom.id('menu_position').value = cdata.position;
          Dom.id('menu_status').value = cdata.status;
          Dom.id('menu_icon').value = cdata.icon;
          break;
        case (el === 'child-modal') :
          refreshChild();
          Dom.id('msg_child').innerHTML = '';
          Dom.id('menu_id_child').value = id;
          var cdata = getData(id)[0];
          childtable.data.table = cdata.child;
          break;
        default :
          Dom.id('msg_new').innerHTML = '';
      }
    }

    function getData(id) {
      var nosql = new FlyJson();
      var db = nosql.deepClone(datatable.data);
      return nosql.set(db.table).where('id', id).exec();
    }

    document.addEventListener('reload', function(e) {
      if (e.detail.success) {
        dt = [];
        getToken('<%=it.baseUrl%>', function(token) {
          // If have no token, redirect to login
          if(!token) return location = '<%=it.baseUrl%>'+'/login';
          loadData('<%=it.baseUrl%>',token, function(err,data) {
            if(!err) searchData(Dom.id('search').value,datatable.data.pageNow,datatable.data.itemPerPage);
          });
        });
      }
    })

    function submitNew() {
      getToken('<%=it.baseUrl%>', function(token) {
        // If have no token, redirect to login
        if(!token) return location = '<%=it.baseUrl%>'+'/login';
        ajax({
          headers: {
            'x-token': token
          }
        })
        .post('<%=it.baseUrl%>/api/menu/parent/add', {
          name: Dom.id('menu_name_new').value,
          url: Dom.id('menu_url_new').value,
          type: Dom.id('menu_type_new').value,
          scope: Dom.id('menu_scope_new').value,
          position: Dom.id('menu_position_new').value,
          icon: Dom.id('menu_icon_new').value
        })
        .then(function (response, xhr) {
          if (response.statusCode === 200) {
            Dom.id('msg_new').innerHTML = `<article class="message is-success">
                <div class="message-body">
                  ${response.message}
                </div>
              </article>`;
            // Tell the datatables to reload the data
            Reef.emit(document, 'reload', {
              success: true
            });
          }
        })
        .catch(function (response, xhr) {
          console.log(xhr.responseText);
          Dom.id('msg_new').innerHTML = `<article class="message is-danger">
              <div class="message-body">
                ${xhr.responseText}
              </div>
            </article>`;
        })
      });
    }

    function submitParent() {
      getToken('<%=it.baseUrl%>', function(token) {
        // If have no token, redirect to login
        if(!token) return location = '<%=it.baseUrl%>'+'/login';
        ajax({
          headers: {
            'x-token': token
          }
        })
        .post('<%=it.baseUrl%>/api/menu/parent/update', {
          id: Dom.id('menu_id').value,
          name: Dom.id('menu_name').value,
          url: Dom.id('menu_url').value,
          type: Dom.id('menu_type').value,
          scope: Dom.id('menu_scope').value,
          position: Dom.id('menu_position').value,
          status: Dom.id('menu_status').value,
          icon: Dom.id('menu_icon').value
        })
        .then(function (response, xhr) {
          if (response.statusCode === 200) {
            Dom.id('msg_parent').innerHTML = `<article class="message is-success">
                <div class="message-body">
                  ${response.message}
                </div>
              </article>`;
            // Tell the datatables to reload the data
            Reef.emit(document, 'reload', {
              success: true
            });
          }
        })
        .catch(function (response, xhr) {
          console.log(xhr.responseText);
          Dom.id('msg_parent').innerHTML = `<article class="message is-danger">
              <div class="message-body">
                ${xhr.responseText}
              </div>
            </article>`;
        })
      });
    }

    function submitDelete(id) {
      getToken('<%=it.baseUrl%>', function(token) {
        // If have no token, redirect to login
        if(!token) return location = '<%=it.baseUrl%>'+'/login';
        swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this anymore!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            ajax({
              headers: {
                'x-token': token
              }
            })
            .post('<%=it.baseUrl%>/api/menu/parent/delete', {
              id: id
            })
            .then(function (response, xhr) {
              if (response.statusCode === 200) {
                swal(response.message, {
                  icon: "success",
                });
                Dom.id('msg_new').innerHTML = `<article class="message is-success">
                    <div class="message-body">
                      ${response.message}
                    </div>
                  </article>`;
                // Tell the datatables to reload the data
                Reef.emit(document, 'reload', {
                  success: true
                });
              }
            })
            .catch(function (response, xhr) {
              console.log(xhr.responseText);
              Dom.id('msg_new').innerHTML = `<article class="message is-danger">
                  <div class="message-body">
                    ${xhr.responseText}
                  </div>
                </article>`;
            })
          }
        });
      });
    }
  
    var childtable = new Reef('#childtable', {
      data: {
        table: []
      },
      template: function(props) {
        if(props.table.length > 0) {
          return `<div class="b-table has-pagination">
          <div class="table-wrapper has-mobile-cards">
            <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
              <thead>
              <tr>
                <th>No</th>
                <th>Name</th>
                <th>Url</th>
                <th>Position</th>
              </tr>
              </thead>
              <tbody>
              ${props.table.map(function (item, index) {
                var num = (index+1);
                return `<tr>
                          <td data-label="No">${num}</td>
                          <td data-label="Name">${item.name}</td>
                          <td data-label="Url">${item.url}</td>
                          <td data-label="Position">${item.position}</td>
                          <td class="is-actions-cell">
                            <div class="buttons is-right">
                              <button class="button is-small is-primary" type="button" title="Edit" onclick="editChild('${item.name}')">
                                <span class="icon"><i class="mdi mdi-pencil-outline"></i></span>
                              </button>
                              <button class="button is-small is-danger" type="button" title="Delete" onclick="deleteChild('${item.name}')">
                                <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                              </button>
                            </div>
                          </td>
                        </tr>`;
              }).join('')}
              </tbody>
            </table>
          </div>
        </div>`;
        } else {
          return `<div class="b-table has-pagination">
            <div class="table-wrapper has-mobile-cards">
              <table class="table is-fullwidth is-striped is-hoverable is-sortable is-fullwidth">
                <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Url</th>
                  <th>Position</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>`;
        }
      }
    });
    childtable.render();

    function editChild(name) {
      var nosql = new FlyJson();
      var db = nosql.deepClone(childtable.data.table);
      var cdata = nosql.set(db).where('name','==',name,false).exec();
      Dom.id('menu_name_child').value = cdata[0].name;
      Dom.id('menu_url_child').value = cdata[0].url;
      Dom.id('menu_position_child').value = cdata[0].position;
      if(Dom.id('btnAddChild').innerHTML === 'Add') {
        Dom.id('btnAddChild').innerHTML = 'Update';
        Dom.id('btnCancelChild').style.display = 'inline';
        Dom.id('menu_name_child').readOnly = true;
      }
    }

    function refreshChild() {
      Dom.id('btnAddChild').innerHTML = 'Add';
      Dom.id('menu_name_child').readOnly = false;
      Dom.id('menu_name_child').value = '';
      Dom.id('menu_url_child').value = '';
      Dom.id('menu_position_child').value = '';
      Dom.id('btnCancelChild').style.display = 'none';
    }

    function addChild() {
      Dom.id('msg_child').innerHTML = '';
      if(Dom.id('btnAddChild').innerHTML === 'Add') {
        childtable.data.table.push({
          name: Dom.id('menu_name_child').value,
          url: Dom.id('menu_url_child').value,
          position: Dom.id('menu_position_child').value
        });
        Dom.id('msg_child').innerHTML = `<article class="message is-success">
            <div class="message-body">
              Add Child Menu success!
            </div>
          </article>`;
        refreshChild();
      } else {
        var nosql = new FlyJson();
        var db = nosql.deepClone(childtable.data.table);
        var cdata = nosql.set(db).delete('name',Dom.id('menu_name_child').value).exec();
        childtable.data.table = cdata;
        childtable.data.table.push({
          name: Dom.id('menu_name_child').value,
          url: Dom.id('menu_url_child').value,
          position: Dom.id('menu_position_child').value
        });
        Dom.id('msg_child').innerHTML = `<article class="message is-success">
            <div class="message-body">
              Update Child Menu success!
            </div>
          </article>`;
        refreshChild();
      }
    }

    function deleteChild(name) {
      var nosql = new FlyJson();
      var db = nosql.deepClone(childtable.data.table);
      var cdata = nosql.set(db).delete('name',name).exec();
      childtable.data.table = cdata;
    }

    function cancelChild() {
      refreshChild();
    }

    function saveChild() {
      getToken('<%=it.baseUrl%>', function(token) {
        // If have no token, redirect to login
        if(!token) return location = '<%=it.baseUrl%>'+'/login';
        ajax({
          headers: {
            'x-token': token
          }
        }).post('<%=it.baseUrl%>/api/menu/parent/set-menu-child',{
          id: Dom.id('menu_id_child').value,
          child: childtable.data.table
        })
        .then(function(response,xhr) {
          if(response.statusCode === 200) {
            Dom.id('msg_child').innerHTML = `<article class="message is-success">
              <div class="message-body">
                ${response.message}
              </div>
            </article>`;
            // Tell the datatables to reload the data
            Reef.emit(document, 'reload', {
              success: true
            });
          }
        })
        .catch(function(response,xhr) {
          console.log(xhr.responseText);
          Dom.id('msg_child').innerHTML = `<article class="message is-success">
              <div class="message-body">
                ${xhr.responseText}
              </div>
            </article>`;
        })
      });
    }
  </script>