<!-- Main Library -->
<script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/admin-one/main.min.js"></script>
<script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/dom-js/dom.min.js"></script>
<script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/ajax/ajax.min.js"></script>
<script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/reef/reef.min.js"></script>

<!-- Core Library -->
<script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/md5.min.js"></script>
<script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/storage.min.js"></script>
<script type="text/javascript" src="<%=it.baseAssetsUrl%>/assets/js/app.js"></script>

<!-- To make load performance faster, icons are put at very below. -->
<link rel="stylesheet" href="<%=it.baseAssetsUrl%>/assets/fonts/mdi-font/css/materialdesignicons.min.css">