<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <%~ includeFile('partial-head-main.html', it) %>
  <title>Register - <%=it.siteName%></title>
  <%~ includeFile('partial-head-meta.html', it) %>
</head>
<body>
  <!-- Menu Navbar -->
  <%~ includeFile('partial-menu-navbar.html', it) %>
  <!-- Menu Aside -->
  <%~ includeFile('partial-menu-aside.html', it) %>
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li><a href="<%=it.baseUrl%>" class="has-text-dark">Home</a></li>
            <li>Register</li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
            <a href="https://admin-one-html.justboil.me/" target="_blank" class="button is-primary">
              <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
              <span>Premium Demo</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            Register
          </h1></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-main-section">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon"><i class="mdi mdi-finance"></i></span>
              Register Form
            </p>
            <a href="#" class="card-header-icon">
              <span class="icon"><i class="mdi mdi-reload"></i></span>
            </a>
          </header>
          <div class="card-content">
            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input type="text" autocomplete="on" name="username" class="input" required autofocus>
              </div>
            </div>
            <div class="field">
              <label class="label">E-mail Address</label>
              <div class="control">
                <input type="email" autocomplete="on" name="email" class="input" required autofocus>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input type="password" autocomplete="on" name="password" class="input" required>
              </div>
            </div>
            <div class="field">
              <label class="b-checkbox checkbox is-thin"><input type="checkbox" value="false">
                <span class="check is-black"></span>
                <span class="control-label">I agree to the <a class="jb-modal" href="#" data-target="terms-modal">Terms of Service of <%=it.siteName%></a></span>
              </label>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-black">
                  Submit
                </button>
              </div>
            </div>
            <hr>
            Already have account? <a href="<%=it.baseUrl%>/login">Login now!</a>
          </div>
        </div>
      </div>
    </div>
    <div id="terms-modal" class="modal">
      <div class="modal-background jb-modal-close"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title"><b>Terms Of Service</b></p>
          <button class="delete jb-modal-close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo. Eu tincidunt tortor aliquam nulla facilisi. In ante metus dictum at tempor. Fringilla urna porttitor rhoncus dolor. Cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Sed nisi lacus sed viverra tellus in hac habitasse platea. Vitae tortor condimentum lacinia quis vel. Vitae proin sagittis nisl rhoncus mattis rhoncus. Morbi leo urna molestie at elementum eu facilisis sed odio. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat. Lacinia quis vel eros donec ac odio tempor orci. Tellus cras adipiscing enim eu. Varius duis at consectetur lorem donec massa sapien faucibus. Massa placerat duis ultricies lacus. Elit pellentesque habitant morbi tristique senectus et. Malesuada pellentesque elit eget gravida.
            </p>
            <p>
              Lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Pharetra diam sit amet nisl suscipit adipiscing bibendum. A lacus vestibulum sed arcu non odio. Amet facilisis magna etiam tempor orci eu lobortis. Suscipit tellus mauris a diam maecenas sed enim ut. Diam phasellus vestibulum lorem sed risus. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Imperdiet dui accumsan sit amet nulla facilisi. Etiam sit amet nisl purus in mollis nunc sed id. In cursus turpis massa tincidunt dui ut ornare lectus sit. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Duis at consectetur lorem donec massa sapien. In dictum non consectetur a erat nam at.
            </p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button jb-modal-close">Close</button>
        </footer>
      </div>
      <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
    </div>
  </section>
  <!-- Footer -->
  <%~ includeFile('partial-footer.html', it) %>
  <!-- Inline JS -->
  <%~ includeFile('partial-js.html', it) %>
</body>
</html>
