<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <%~ includeFile('partial-head-main.html', it) %>
  <title>Register - <%=it.siteName%></title>
  <%~ includeFile('partial-head-meta.html', it) %>
</head>
<body>
  <!-- Menu Navbar -->
  <%~ includeFile('partial-menu-navbar.html', it) %>
  <!-- Menu Aside -->
  <%~ includeFile('partial-menu-aside.html', it) %>
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li><a href="<%=it.baseUrl%>" class="has-text-dark">Home</a></li>
            <li>Register</li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
            <a href="https://admin-one-html.justboil.me/" target="_blank" class="button is-primary">
              <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
              <span>Premium Demo</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            Register
          </h1></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-main-section">
    <div id="register"></div>
  </section>
  <!-- Footer -->
  <%~ includeFile('partial-footer.html', it) %>
  <!-- Inline JS -->
  <%~ includeFile('partial-js.html', it) %>
  <script>getToken('<%=it.baseUrl%>', function(token) {
    if(token) return location = '<%=it.baseUrl%>'+'/dashboard'
  });
  // form validation
  var form = new FormValidation();
  form.rules({
    username: {
      required: true,
      message: 'Username must be min 3-20 chars!',
      minLength:3,
      maxLength:20,
      regex: /^[a-zA-Z0-9]/,
      errorPlace:'username-error',
      errorAddClass: {
        username:'is-danger',
        'username-error': 'is-danger'
      }
    },
    email: {
      required: true,
      message: 'Email is required and must using valid format!',
      minLength: 7,
      regex: /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
      errorPlace:'email-error',
      errorAddClass: {
        email:'is-danger',
        'email-error': 'is-danger'
      }
    },
    password: {
      required: true,
      message: 'Password must be 6-20 chars!',
      minLength: 6,
      maxLength: 20,
      errorPlace:'password-error',
      errorAddClass: {
        password:'is-danger',
        'password-error': 'is-danger'
      }
    },
    checkbox: {
      message: 'You have to agree with our terms of service!',
      method: function(element) {
        return element.checked;
      },
      errorPlace:'checkbox-error',
      errorAddClass: {
        checkbox:'is-danger',
        'checkbox-error': 'is-danger'
      }
    }
  });

  var register = new Reef('#register', {
    data: {
      token: null,
      baseUrl: '',
      siteName: '',
      register: false,
      message: ''
    },
    template: function (props) {
      if(props.token === null) {
          return `<div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span class="icon"><i class="mdi mdi-account"></i></span>
                  Register Form
                </p>
                <a id="reload" href="#" class="card-header-icon">
                  <span class="icon"><i class="mdi mdi-reload"></i></span>
                </a>
              </header>
              <div class="card-content">
                ${(props.register ? `<article class="message is-success">
                  <div class="message-body">
                    ${props.message}
                  </div>
                </article>` : (props.message === '') ? '' : `<article class="message is-danger">
                  <div class="message-body">
                    ${props.message}
                  </div>
                </article>` )}
                <div class="field">
                  <label class="label">Username</label>
                  <div class="control">
                    <input id="username" type="text" autocomplete="on" class="input" required autofocus>
                  </div>
                  <p id="username-error" class="help has-text-left"></p>
                  <p id="username-info" class="help has-text-left"></p>
                </div>
                <div class="field">
                  <label class="label">E-mail Address</label>
                  <div class="control">
                    <input id="email" type="email" autocomplete="on" class="input" required autofocus>
                  </div>
                  <p id="email-error" class="help has-text-left"></p>
                  <p id="email-info" class="help has-text-left"></p>
                </div>
                <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                    <input id="password" type="password" autocomplete="on" class="input" required>
                    <p id="password-error" class="help has-text-left"></p>
                  </div>
                </div>
                <div class="field">
                  <label class="b-checkbox checkbox is-thin">
                    <input id="checkbox" type="checkbox" value="false">
                    <span class="check is-black"></span>
                    <span class="control-label">I agree to the <a class="jb-modal" href="#" data-target="terms-modal">Terms of Service of ${props.siteName}</a></span>
                  </label>
                  <p id="checkbox-error" class="help has-text-left"></p>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button id="btnSubmit" type="submit" class="button is-black" onclick="submitRegister()">
                      Submit
                    </button>
                  </div>
                </div>
                <hr>
                Already have account? <a href="${props.baseUrl}/login">Login now!</a>
              </div>
            </div>
          </div>
        </div>`;
      } else {
          return '';
      }
    }
  });
  
  register.render();
  register.data.baseUrl = '<%=it.baseUrl%>';
  register.data.siteName = '<%=it.siteName%>';

  if(Dom.id('username')) {
    Dom.id('username').addEventListener("blur", function() {
      form.element('username').validate(function (error) {
        if (!error) {
          // call ajax check username
          isAvailable('username');
        } else {
          Dom.id('username-info').innerHTML = '';
        }
      });
    });
  }

  if(Dom.id('email')) {
    Dom.id('email').addEventListener("blur", function() {
      form.element('email').validate(function (error) {
        if (!error) {
          // call ajax check email
          isAvailable('email');
        } else {
          Dom.id('email-info').innerHTML = '';
        }
      });
    });
  }

  if(Dom.id('password')) {
    Dom.id('password').addEventListener("blur", function() {
      form.element('password').validate();
    });
  }

  if(Dom.id('checkbox')) {
    Dom.id('checkbox').addEventListener("blur", function() {
      form.element('checkbox').validate();
    });
  }

  function submitRegister() {
    if(form.validate().isValid()) {
      register.data.message = '';
      Dom.addClass(Dom.id('btnSubmit'), 'is-loading');
      ajax().post('<%=it.baseUrl%>'+'/api/user/register', {
        username: Dom.id('username').value,
        email: Dom.id('email').value,
        password: Dom.id('password').value
      }).then(function (response, xhr) {
        if(response.statusCode === 200) {
          register.data.register = true;
          register.data.message = response.message;
          clear();
        }
      }).catch(function(response, xhr) {
        register.data.register = false;
        register.data.message = response.message;
        console.log(xhr.responseText);
      }).always(function(response, xhr) {
        Dom.removeClass(Dom.id('btnSubmit'), 'is-loading');
      })
    }
  }

  function isAvailable(id) {
    var value = Dom.id(id).value;
    var dtype = '';
    switch(true) {
      case (id === 'email') :
        dtype = 'check-email';
        break;
      default:
        dtype = 'check-username';
    }
    ajax().get('<%=it.baseUrl%>'+'/api/user/'+dtype+'/'+value).then(function (response, xhr) {
      if(response.statusCode === 200) {
        if(response.data.total === 0) {
          Dom.id(id+'-info').innerHTML = response.message;
          if(Dom.hasClass(Dom.id(id), 'is-danger')) {
            Dom.removeClass(Dom.id(id), 'is-danger')
          }
          if(Dom.hasClass(Dom.id(id+'-info'), 'is-danger')) {
            Dom.removeClass(Dom.id(id+'-info'), 'is-danger')
          }
          Dom.addClass(Dom.id(id), 'is-success')
          Dom.addClass(Dom.id(id+'-info'), 'is-success')
        } else {
          Dom.id(id+'-info').innerHTML = response.message;
          if(Dom.hasClass(Dom.id(id), 'is-success')) {
            Dom.removeClass(Dom.id(id), 'is-success')
          }
          if(Dom.hasClass(Dom.id(id+'-info'), 'is-success')) {
            Dom.removeClass(Dom.id(id+'-info'), 'is-success')
          }
          Dom.addClass(Dom.id(id), 'is-danger')
          Dom.addClass(Dom.id(id+'-info'), 'is-danger')
        }
      }
    }).catch(function(response, xhr) {
      console.log(xhr.responseText);
    })
  }
  
  function clear() {
    Dom.id('username').value = '';
    Dom.id('email').value = '';
    Dom.id('password').value = '';
  }

  Dom.id('reload').addEventListener('click', function(e) {
    clear();
  })
  </script>
</body>
</html>
