<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <%~ includeFile('partial-head-main.html', it) %>
  <title>Reset Password - <%=it.siteName%></title>
  <%~ includeFile('partial-head-meta.html', it) %>
</head>
<body>
  <!-- Menu Navbar -->
  <%~ includeFile('partial-menu-navbar.html', it) %>
  <!-- Menu Aside -->
  <%~ includeFile('partial-menu-aside.html', it) %>
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li><a href="<%=it.baseUrl%>" class="has-text-dark">Home</a></li>
            <li>Reset Password</li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
            <a href="https://admin-one-html.justboil.me/" target="_blank" class="button is-primary">
              <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
              <span>Premium Demo</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            Reset Password
          </h1></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-main-section">
    <div id="reset_pass"></div>
  </section>
  <!-- Footer -->
  <%~ includeFile('partial-footer.html', it) %>
  <!-- Inline JS -->
  <%~ includeFile('partial-js.html', it) %>
  <script>

    // form validation
    var form = new FormValidation();
    form.rules({
      password: {
        required: true,
        message: 'Password must be 6-20 chars!',
        minLength: 6,
        maxLength: 20,
        errorPlace:'password-error',
        errorAddClass: {
          password:'is-danger',
          'password-error': 'is-danger'
        }
      },
      'confirm-password': {
        required: true,
        message: 'Password must be 6-20 chars!',
        minLength: 6,
        maxLength: 20,
        errorPlace:'confirm-password-error',
        errorAddClass: {
          'confirm-password':'is-danger',
          'confirm-password-error': 'is-danger'
        }
      }
    });

    var reset_pass = new Reef('#reset_pass', {
      data: {
        valid: false,
        message: ''
      },
      template: function (props) {
        return `<div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span class="icon"><i class="mdi mdi-account-key"></i></span>
                  Reset Password
                </p>
              <a id="reload" href="javascript:void(0)" class="card-header-icon">
                  <span class="icon"><i class="mdi mdi-reload"></i></span>
                </a>
              </header>
              ${ (props.valid) ? 
                `<div class="card-content">
                  <div id="msg"></div>
                  <div class="field">
                    <label class="label">New Password</label>
                    <div class="control">
                      <input id="password" type="password" autocomplete="on" class="input" required>
                    </div>
                    <p id="password-error" class="help has-text-left"></p>
                    <p id="password-info" class="help has-text-left"></p>
                  </div>
                  <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control">
                      <input id="confirm-password" type="password" autocomplete="on" class="input" required>
                    </div>
                    <p id="confirm-password-error" class="help has-text-left"></p>
                    <p id="confirm-password-info" class="help has-text-left"></p>
                  </div>
                  <hr>
                  <div class="field is-grouped">
                    <div class="control">
                      <button id="btnSubmit" type="submit" class="button is-dark" onclick="submitReset()">
                        Submit
                      </button>
                    </div>
                    <div class="control">
                      <button type="submit" class="button is-outlined is-dark" onclick="location.href='<%=it.baseUrl%>/login'">
                        Back to Login
                      </button>
                    </div>
                  </div>
                </div>` 

                : 
                
                `<div class="card-content">
                  <article class="message is-danger">
                    <div class="message-body">
                      ${(props.message) ? props.message : ''}
                    </div>
                  </article>
                  <hr>
                  <div class="field is-grouped">
                    <div class="control">
                      <button type="submit" class="button is-dark" onclick="location.href='<%=it.baseUrl%>/forgot-password'">
                        Back to Forgot Password
                      </button>
                    </div>
                    <div class="control">
                      <button type="submit" class="button is-outlined is-dark" onclick="location.href='<%=it.baseUrl%>/login'">
                        Back to Login
                      </button>
                    </div>
                  </div>
                </div>
                `
              }
            </div>
          </div>
        </div>`;
      }
    });
    reset_pass.render();
    var myValue = '<%=it.valid%>';
    var isTrueSet = (myValue === 'true');
    reset_pass.data.valid = isTrueSet;
    reset_pass.data.message = '<%=it.message%>';

    function checkMatch() {
      var div_pass = Dom.id('password');
      var div_cpass = Dom.id('confirm-password');
      var div_pass_i = Dom.id('password-info');
      var div_cpass_i = Dom.id('confirm-password-info');
      Dom.removeClass([div_pass,div_cpass,div_pass_i,div_cpass_i], 'is-success');
      Dom.removeClass([div_pass,div_cpass,div_pass_i,div_cpass_i], 'is-danger');
      if(div_pass.value.length > 0 && div_cpass.value.length > 0) {
        if(div_pass.value === div_cpass.value) {
          div_pass_i.innerHTML = 'Password match!';
          div_cpass_i.innerHTML = 'Password match!';
          Dom.addClass([div_pass,div_cpass,div_pass_i,div_cpass_i], 'is-success');
        } else {
          div_pass_i.innerHTML = 'Password not match!';
          div_cpass_i.innerHTML = 'Password not match!';
          Dom.addClass([div_pass,div_cpass,div_pass_i,div_cpass_i], 'is-danger');
        }
      } else {
        div_pass_i.innerHTML = '';
        div_cpass_i.innerHTML = '';
      }
    }

    var update = 1;
    document.addEventListener('render', function (event) {
      if(update === 1) {
        Dom.id('password').addEventListener("blur", function() {
          form.element('password').validate();
          checkMatch();
        });
        Dom.id('confirm-password').addEventListener("blur", function() {
          form.element('confirm-password').validate();
          checkMatch();
        });
      }
      update++;
    }, false);

    function submitReset() {
      if(form.validate().isValid() && (Dom.id('password').value === Dom.id('confirm-password').value)) {
        Dom.id('msg').innerHTML = '';
        Dom.addClass(Dom.id('btnSubmit'), 'is-loading');
        ajax().post('<%=it.baseUrl%>'+'/api/user/reset-password', {
          id: '<%=it.reset_pass_id%>',
          password: Dom.id('password').value
        }).then(function (response, xhr) {
          if(response.statusCode === 200) {
            if(response.success) {
              Dom.id('msg').innerHTML = `<article class="message is-success">
                <div class="message-body">
                  ${response.message}
                </div>
              </article><br>`;
              clear();
            } else {
              Dom.id('msg').innerHTML = `<article class="message is-danger">
                <div class="message-body">
                  ${response.message}
                </div>
              </article><br>`;
            }
          }
        }).catch(function(response, xhr) {
          Dom.id('msg').innerHTML = `<article class="message is-danger">
              <div class="message-body">
                ${response.message}
              </div>
            </article><br>`;
          console.log(xhr.responseText);
        }).always(function(response, xhr) {
          Dom.removeClass(Dom.id('btnSubmit'), 'is-loading');
        })
      }
    }

    function clear () {
      Dom.id('password').value = '';
      Dom.id('confirm-password').value = '';
      checkMatch();
    }

    Dom.id('reload').addEventListener('click', function(e) {
      clear();
      Dom.id('msg').innerHTML = '';
    })
  </script>
</body>
</html>
