<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <%~ includeFile('partial-head-main.html', it) %>
  <title>Reset Password - <%=it.siteName%></title>
  <%~ includeFile('partial-head-meta.html', it) %>
</head>
<body>
  <!-- Menu Navbar -->
  <%~ includeFile('partial-menu-navbar.html', it) %>
  <!-- Menu Aside -->
  <%~ includeFile('partial-menu-aside.html', it) %>
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li><a href="<%=it.baseUrl%>" class="has-text-dark">Home</a></li>
            <li>Reset Password</li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
            <a href="https://admin-one-html.justboil.me/" target="_blank" class="button is-primary">
              <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
              <span>Premium Demo</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero is-hero-bar">
    <div class="hero-body">
      <div class="level">
        <div class="level-left">
          <div class="level-item"><h1 class="title">
            Reset Password
          </h1></div>
        </div>
        <div class="level-right" style="display: none;">
          <div class="level-item"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="section is-main-section">
    <div id="reset_pass"></div>
  </section>
  <!-- Footer -->
  <%~ includeFile('partial-footer.html', it) %>
  <!-- Inline JS -->
  <%~ includeFile('partial-js.html', it) %>
  <script>
    var reset_pass = new Reef('#reset_pass', {
      data: {
        valid: false,
        message: ''
      },
      template: function (props) {
        return `<div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span class="icon"><i class="mdi mdi-account-key"></i></span>
                  Reset Password
                </p>
              <a id="reload" href="javascript:void(0)" class="card-header-icon">
                  <span class="icon"><i class="mdi mdi-reload"></i></span>
                </a>
              </header>
              ${ (props.valid) ? 
                `<div class="card-content">
                  <div class="field">
                    <label class="label">New Password</label>
                    <div class="control">
                      <input id="password" type="password" autocomplete="on" class="input" required>
                    </div>
                    <p id="password-error" class="help has-text-left"></p>
                  </div>
                  <div class="field">
                    <label class="label">Confirm Password</label>
                    <div class="control">
                      <input id="confirm-password" type="password" autocomplete="on" class="input" required>
                    </div>
                    <p id="confirm-password-error" class="help has-text-left"></p>
                  </div>
                  <div class="field is-grouped">
                    <div class="control">
                      <button id="btnSubmit" type="submit" class="button is-dark" onclick="submitReset()">
                        Submit
                      </button>
                    </div>
                  </div>
                </div>` 

                : 
                
                `<article class="message is-danger">
                  <div class="message-body">
                    ${(props.message) ? props.message : ''}
                  </div>
                </article>
                <hr>
                <div class="field is-grouped">
                  <div class="control">
                    <button type="submit" class="button is-dark" onclick="location.href='<%=it.baseUrl%>/forgot-password'">
                      Back to Forgot Password
                    </button>
                  </div>
                  <div class="control">
                    <button type="submit" class="button is-outlined is-dark" onclick="location.href='<%=it.baseUrl%>'">
                      Back to Home
                    </button>
                  </div>
                </div>
                `
              }
            </div>
          </div>
        </div>`;
      }
    });
    reset_pass.render();
    var myValue = '<%=it.valid%>';
    var isTrueSet = (myValue === 'true');
    reset_pass.data.valid = isTrueSet
    reset_pass.data.message = '<%=it.message%>'
  </script>
</body>
</html>
